@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  background-color: white;
  color: black;
  --primary: #0AD0BC;
  --secondary: #1f2937;
  --tertiary: #FF725C;

}

.dark-mode {
  background-color: black;
  color: white;
  --primary: #333;
  --secondary: #666;
  --tertiary: #999;
}

/* ... */
