@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
body {
  --text: #091010;
  --background: #f3f9f9;
  --primary: #58afae;
  --secondary: #a5d7d6;
  --tertiary: #7ac9c7;
}

.dark-mode {
  --text: #eff6f6;
  --background: #070e0e;
  --primary: #50a5a4;
  --secondary: #285857;
  --tertiary: #378683;
}

/* ... */
